<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор регистрации</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
<h2>Выберите тип регистрации</h2>
<div>
    <a href="/registration/user">
        <button>Регистрация пользователя</button>
    </a>
</div>
<div>
    <a href="/registration/staff">
        <button>Регистрация сотрудника</button>
    </a>
</div>
</body>
</html>
